.box-carrinho {
    position: relative;
}

.box-carrinho-content {
    position: absolute;
    right: 1%;
}

.wrapper {
    height: 70vh;
    width: 30vw;
    border: gray solid 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    background-color: white;
    overflow: hidden;
    right: 0%;
    margin-top: 5px;
    margin-right: 5px;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fade-enter {
opacity: 0;
height: 0;

}

.fade-enter-active {
opacity: 1;
height: 100%;
pointer-events: none;
transition: opacity 200ms ease-in, height 200ms ease-in;
}

.fade-exit {
opacity: 1;
height: 100%;
}

.fade-exit-active {
opacity: 0;
height: 0;
pointer-events: none;
transition: opacity 200ms ease-out, height 200ms ease-out;
}

.wrapper button {
    margin-bottom: auto;
}

.titulo {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.produtos-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 75%;
    max-height: 75%;
    max-width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.carrinho-produto-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 10px;
    max-width: 95%;

}

.carrinho-produto-imagem {
    max-width: 10%;
}

.carrinho-produto-nome {
    text-align: left;
    margin-left: 5px;
    width: 40%;
}

.carrinho-quantidade-container {
    width: 60%;
    margin-left: auto;
}

.orçamento {
    margin-top: auto;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.wrapper button {
    background-color: maroon;
    width: 50%;
    margin: 10px auto;
}